In [1]:
# More examples here: https://stackoverflow.com/questions/36688022/removing-header-column-from-pandas-dataframe
%cd "C:\Users\jwill\Documents\Machine Learning\Data"

C:\Users\jwill\Documents\Machine Learning\Data

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

fcntx = pd.read_csv('fcntx.csv')

In [3]:
fcntx

       FCNTX
0   0.019690
1   0.222465
2   0.245232
3  -0.101004
4   0.243855
5  -0.004952
6   0.010003
7   0.019035
8   0.239397
9   0.149867
10 -0.003986
11  0.162148
12  0.287671
13 -0.380933
14  0.121319
15  0.006794
16  0.141346
17  0.149747
18  0.278497
19 -0.097498
20 -0.130161
21 -0.180773
22  0.056876
23  0.217885
24  0.106287
25  0.108627
26  0.255614
27 -0.018158
28  0.122679
29  0.073047
30  0.475504
31  0.033969
32  0.327532
33  0.180205
34 -0.051373
35 -0.090250

In [13]:
import pandas as pd

# CSV to data frame array
# No header in array, removes csv header from row 1
df=pd.read_csv('fcntx.csv', sep=',',header=None, skiprows=1)
df

           0
0   0.019690
1   0.222465
2   0.245232
3  -0.101004
4   0.243855
5  -0.004952
6   0.010003
7   0.019035
8   0.239397
9   0.149867
10 -0.003986
11  0.162148
12  0.287671
13 -0.380933
14  0.121319
15  0.006794
16  0.141346
17  0.149747
18  0.278497
19 -0.097498
20 -0.130161
21 -0.180773
22  0.056876
23  0.217885
24  0.106287
25  0.108627
26  0.255614
27 -0.018158
28  0.122679
29  0.073047
30  0.475504
31  0.033969
32  0.327532
33  0.180205
34 -0.051373
35 -0.090250