In [9]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [10]:
%cd "C:\Users\jwill\Documents\Machine Learning\Data"

C:\Users\jwill\Documents\Machine Learning\Data

In [11]:
# Create training and test subsets

x = pd.read_csv('phleb1.csv')
y = np.array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1])
# train test split
x_train, x_test, y_train, y_test = train_test_split(
     x, y, test_size=10, random_state=4
 )
x_train

    Age    TS
11   25  63.6
7    41  37.4
12   21  56.6
10   23  63.3
9    30  47.0
2    61  20.9
17   31  58.4
8    48  46.6
1    56  10.9
5    48  34.4
14   30  57.3

In [12]:
y_test

array([1, 1, 0, 0, 0, 1, 1, 0, 1, 1])

In [7]:
y_train

array([0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1])

In [8]:
x_test

    Age    TS
19   28  67.1
18   36  70.0
3    41  22.5
0    48   7.8
6    41  19.2
20   27  97.5
15   19  82.7
4    34  22.3
16   28  71.4
13   21  79.6